# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor/IDE
.idea/
.vscode/

# Variables de entorno y otros archivos de configuración
.env
.env.local
AGENTS.md

# Binarios
bin/
build/
nbproject/
.bin/
.build/
.nbproject/

# Otros recursos
LibreOffice/